{% extends "view.html" %}
{% block view_title %}Chart{% endblock %}
{% block view_content %}
<div id="content-{{ viewid }}" class="content">
	<form class="side_panel" id="chart-panel-{{ viewid }}">
		<section><div id="legend-{{ viewid }}" class="legend"></div></section>
		<section>
			<div class="renderer_form toggler">
				<input type="radio" name="renderer" id="area-{{ viewid }}" class="area" value="area" checked>
				<label for="area-{{ viewid }}" class="area">area</label>
				<input type="radio" name="renderer" id="bar-{{ viewid }}" class="bar" value="bar">
				<label for="bar-{{ viewid }}" class="bar">bar</label>
				<input type="radio" name="renderer" id="line-{{ viewid }}" class="line" value="line">
				<label for="line-{{ viewid }}" class="line">line</label>
				<input type="radio" name="renderer" id="scatter-{{ viewid }}" class="scatter" value="scatterplot">
				<label for="scatter-{{ viewid }}" class="scatter">scatter</label>
			</div>
		</section>
		<section>
			<div class="offset_form">
				<label for="stack-{{ viewid }}" class="stack">
					<input type="radio" name="offset" id="stack-{{ viewid }}" class="stack" value="zero" checked>
					<span>stack</span>
				</label>
				<label for="stream-{{ viewid }}" class="stream">
					<input type="radio" name="offset" id="stream-{{ viewid }}" class="stream" value="wiggle">
					<span>stream</span>
				</label>
				<label for="pct-{{ viewid }}" class="pct">
					<input type="radio" name="offset" id="pct-{{ viewid }}" class="pct" value="expand">
					<span>pct</span>
				</label>
				<label for="value-{{ viewid }}" class="value">
					<input type="radio" name="offset" id="value-{{ viewid }}" class="value" value="value">
					<span>value</span>
				</label>
			</div>
			<div class="interpolation_form">
				<label for="cardinal-{{ viewid }}" class="cardinal">
					<input type="radio" name="interpolation" id="cardinal-{{ viewid }}" class="cardinal" value="cardinal" checked>
					<span>cardinal</span>
				</label>
				<label for="linear-{{ viewid }}" class="linear">
					<input type="radio" name="interpolation" id="linear-{{ viewid }}" class="linear" value="linear">
					<span>linear</span>
				</label>
				<label for="step-{{ viewid }}" class="step">
					<input type="radio" name="interpolation" id="step-{{ viewid }}" class="step" value="step-after">
					<span>step</span>
				</label>
			</div>
		</section>
		<section>
			<h6>Smoothing</h6>
			<div id="smoother-{{ viewid }}" class="smoother"></div>
		</section>
		<section class="rickshawlink">Charts powered by <a href="http://http://code.shutterstock.com/rickshaw/">Rickshaw</a>.</section>
	</form>

	<div class="chart_container">
		<div class="chart" id="chart-{{ viewid }}"></div>
		<div class="timeline" id="timeline-{{ viewid }}"></div>
		<div class="preview" id="preview-{{ viewid }}"></div>
	</div>

</div>

<script>
var variables = [{%- for var in variables -%} "{{- var.name -}}", {%- endfor -%}];
create_graph(variables, {{ viewid }});
</script>
{% endblock %}
