{% extends 'view.html' %}
{% block view_title %}TableView{% endblock %}
{% block view_content %}
    <table class="table table-striped">
    <thead><tr><th class="tv-name">Name</th><th class="tv-type">Type</th><th class="tv-value">Current Value</th></tr></thead>
    <tbody>
{% for variable in variables %}
    <tr><td>{{ variable.name }}</td><td>{{ variable.type }}</td><td><span id="var-{{ variable.name }}">{{ variable.value }}</span></td></tr>
{% endfor %}
    </tbody>
    </table>
    <script type="text/javascript">
        var source = new EventSource("/views/{{ viewid }}/data");
        source.onmessage = function(event) {
            data = JSON.parse(event.data);
            $("#var-" + data.var).text(data.value);
        };
    </script>
{% endblock %}